/* Add here all your CSS customizations */
#header .header-body {
  border: none;
  height: 94px;
  padding: 0;
}

.header-logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

.header-logo img {
  margin: 0;
  height: 94px;
  width: 182px;
}

#navSecondary {
  background-color: #fff;
  padding: 27px 0;
}

.price-table tr{
  background-color: #fff
}
.bandwidth td {
  color: #006994
}

.price-table td:first-child {
  font-weight: 600
}

.price-table.table > tbody > tr > td {
  padding-right: 0
}

#google-map {
  width: 400px;
  height: 400px;
}

.nav.nav-pills.nav-pills-tertiary {
  text-align: right
}
